docs/*.docx

# Object files
*.o
*.ko
*.obj
*.elf

# debug
*.pdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.lib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.exp
*.pdb
*.obj
*.manifest

# no notes files
*.txt

!binz/*
!xedparse/xed2/lib/*
